#cb-cookie-banner { 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 9999; 
    border-radius: 0;
    background-color: #D4C5FF;
    display:none;/*quitar para que funcione*/
    font-family: 'Manrope', sans-serif;
}

#cb-cookie-banner a:hover{
color: black;

}