
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cards-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-bottom: 200px;
  position: relative;
  top: 100px;
}


.card-container{
    min-width: 400px;
    height: 550px;
    padding: 3rem;
}

.card{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.card:hover{
    transform: rotateY(180deg);
  }

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.card_front-card{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #FFFFFF;
    color: #000;
  }

  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.card_back-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    backface-visibility: hidden;
    overflow: hidden;
    background: #D4C4FF;
    color: #000000;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .front-card_date{
    font-family: 'Manrope', sans-serif;
    display: flex;
    color: #D4C4FF;
    text-align: left;
    font-size: 6.5rem;
    font-weight: 600;
    height: 70%;
    line-height: 1;
    letter-spacing: -3px;
  }

.card_front-card h2{
    font-family: 'kaftan_serif_-_trialregular', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: right;   
}
  
.card_front-card p{
    font-family: 'kaftan_serif_-_trialregular', Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: right;
    line-height: 1.5;
}

.front-card_divider{
    height: 0.55px;
    background: #000000;
    margin: 1rem 0;

}

.back-card_tittle{
    font-family: 'kaftan_serif_-_trialregular', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 1rem 0;
  }

.back-card_time{
    font-family: 'kaftan_serif_-_trialregular', Arial, sans-serif;
    text-align: center;
    padding: 0.5rem 0 0 0;
    line-height: 1.5;
  }

.back-card_divider{
    height: 0.55px;
    background: #000000;
    margin: 1rem 0;
}

.back-card_content{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
  }

  .back-card_button{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    background-color: #D4C4FF;
    color: #000000;
    margin: 1rem 0;
    padding: 0.5rem;
    border: 0.55px solid #000000;
    }

  .back-card_button p{
    padding: 0.2rem;
    margin: 0;
  }

  .back-card_button:hover{
      background-color: #FFFFFF;
    }

  .back-card_button:active{
      background-color: #000000;
      color: #FFFFFF;
    }

  .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 600,
      'GRAD' 0,
      'opsz' 24
    }
  
  .material-symbols-outlined {
      font-family: 'Material Symbols Outlined';
      font-weight: normal;
      font-style: normal;
      font-size: 2.5rem;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      position: absolute;
      left: 40px;
      bottom: 35px;
      
  }