*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aprende{
  top: 7rem;
}


.events{
  height: auto;
  position: relative;
  top: 7.5rem;
  display: flex;
  flex-direction: column;
  background-color: black;

}

.events-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 1.5rem 3rem;
}

.events-row .image img{
  height: 250px;
  object-fit: contain;
}

.events-row .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.events-row h2{
  font-family: 'kaftan_serif_-_trialregular', Arial, sans-serif;
  font-size: 24px;
  text-align: left;
  color: #FFFFFF;
}

.events-row p{
  font-family: 'kaftan_serif_-_trialregular', Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  color: #FFFFFF;
}

.divider{
  height: 0.55px;
  background: #FFFFFF;
  margin: 1rem 0;
}

.sign-button{
  width: 100%;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 0.55px solid #FFFFFF;
  }

#footer{
  position: relative;
  top: 7.5rem;
}
  @media (max-width: 990px) {
    .events-row{
      padding: 1.5rem;
    }
  }

  @media (max-width: 610px) {
  
    .events-row h2{
      font-size: 18px;

    }
    .events-row p{
      font-size: 12px;

    }
    .events-row .image img{
      height: 150px;
    }
    
  }

  @media (max-width: 390px) {
  
    .events-row h2{

      margin-bottom: 0.2em;
    }
    .events-row p{

      margin-bottom: 0.2em;
    }

    .sign-button{
      font-size: 11px;
    }
    
    .divider{
      margin-top: 0;
      margin-bottom: 0.1em;
    }
  }
  